.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
    position: fixed;
    height: 100vh;
    width: 200px;
    min-width: 200px;
    background-image: url('../assets/images/backgroundService.jpg');
}
.menu-items{
    list-style: none;
    width: 100%;
}
.sidebar a{
    text-decoration: none;
}
.sidebar li {
    font-size: 20px;
    color: #fff;
    padding: 20px 0;
}
.sidebar li span{
    padding-left: 10px;
}