.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
    position: fixed;
    height: 100vh;
    width: 200px;
    min-width: 200px;
    background-image: url('../assets/images/backgroundService.jpg');
}
.menu-items{
    list-style: none;
    width: 100%;
}

.sidebar li {
    padding: 20px 0;
}

.sidebar a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(245, 232, 255);
    display: block;
    position: relative;
}
.sidebar a span{
    padding-left: 10px;
}
a.active{
    color: #fff;
}
a.active::before{
    content: "";
    width: 4px;
    transform: translateY(-20px);
    height: 67px;
    position: absolute;
    top: 0;
    left: -24px;
    background: cornsilk;
}