.tooltip {
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}
.tooltip-text {
  background: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  padding: 4px;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
}
