.difficult-words-content{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
}
.word-box{
    width: 20%;
    box-sizing: border-box;
    padding: 0 4px 8px 4px;
}
.word-box p{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 16px;
    background: #e2e2ed8a;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }