.page-title{
    display: flex;
    align-items: center;
}
.back-btn{
    display: flex;
    padding: 0 4px 0;
    cursor: pointer;
}
.back-btn svg{
    font-size: 19px;
    color: gray;
}
.back-btn:hover svg{
    color: #000;
}
.flashcards-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}
.flashcard-actions{
    width: 250px;
    margin: 12px 0;
    display: flex;
    flex-shrink: 1;
}
.flashcard-actions button{
    width: 50%;
    background: none;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.flashcard-actions svg {
    font-size: 20px;
}
.correct{
    margin-right: 4px;
    border: 1px solid rgb(168, 195, 168);
}
.correct svg{
    color: #347b34
}
.wrong svg{
    color: #d94848;
}
.wrong{
    margin-left: 4px;
    border: 1px solid rgb(214, 176, 176);
}
.correct:hover {
    background: #dfefdf;
    border-color: #bfd5bf
}
.wrong:hover{
    background: rgb(255 234 234);
    border-color: rgb(242 196 196)
}
.correct:hover svg{
    color: #00aa00;
}
.wrong:hover svg{
    color: red;
}
.empty{
    height: calc(100vh - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px
}