.sign-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    background: none;
    border: 1px solid gray;
    height: 34px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    padding: 4px 12px;
    box-sizing: border-box;
    margin-bottom: 24px;
    align-self: baseline;
}
.sign-in span{
    font-size: 14px;
}
.login-icon{
    font-size: 23px;
    margin-left: 10px;
}