.sign-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: 1px solid gray;
    height: 34px;
    color: gray;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    position: fixed;
    right: 20px;
}
.sign-in span{
    font-size: 14px;
}
.login-icon{
    font-size: 23px;
    margin-left: 10px;
}