.stories-title {
  margin-bottom: 16px;
}
.story {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -12px;
}
@media screen and (max-width: 808px) {
  .story {
    flex-direction: column;
    align-items: center;
  }
}
