.flashcards-item{
    position: relative;
    width: 250px;
    min-width: 250px;
    height: 350px;
    padding: 12px;
    box-sizing: border-box;
    background: #e2e2ed8a;
    border: 1px solid #dadafa;
    border-radius: 4px;
}
.front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.front h2{
    margin: 8px 0;
    text-transform: capitalize;
}
.audio{
    position: absolute;
    right: 12px;
    bottom: 12px;
    cursor: pointer;
    background: rgba(107,107,161, 0.3);
    color: #6b6ba1;
    font-size: 26px;
    border-radius: 50%;
    padding: 5px;
}
.audio:hover{
    background: #6b6ba1;
    color: #fff;
}
.back{
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #585353;
    line-height: 26px;
}
.meaning{
    margin-bottom: 12px;
}
.meaning-title{
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    padding-right: 8px;
}
