* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'openSans', 'iranSans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: grid;
}

@font-face {
  font-family: 'openSans';
  src: local('openSans'), url(./assets/fonts/OpenSans.ttf) format('truetype');
}
@font-face {
  font-family: 'iranSans';
  src: local('iranSans'), url(./assets/fonts/IRANSansWeb.ttf) format('truetype');
}